<div class="row">
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      {{stat-block color="blue" title="Students" count=model.students.length}}
   </div>
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      {{stat-block color="red" title="Dollars Owing" count=500}}     
   </div>
{{!--    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      {{stat-block color="blue" title=title count=count}}
   </div>
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      {{stat-block color="blue" title=title count=count}}
   </div>
   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      {{stat-block color="green"}}
   </div> --}}
</div>

{{group-departments}}
{{group-page-students-listing students=model.students group=model}}